
#home-page .back[data-v-802392fc] {
    margin-bottom: 1rem;
}
#home-page .modal-picture[data-v-802392fc] {
    max-width: 950px;
    min-width: 150px;
    min-height: 100px;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}
#home-page .pagination[data-v-802392fc] {
    text-align: center;
}


  
.el-pagination .el-pager .active {
    background-color: #5c5c5c;
    color: white;
    border-radius: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}


  
.article-card[data-v-e8c9ac44] {
    text-align: center;
    border-bottom: 1px solid #aeaeae;
    word-break: keep-all;
    word-wrap: break-word;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.article-card[data-v-e8c9ac44]:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.article-card > *[data-v-e8c9ac44] {
    margin-top: 0;
    margin-bottom: 1rem;
}
.article-card > *[data-v-e8c9ac44]:last-child {
    margin-bottom: 0;
}
.article-card .title[data-v-e8c9ac44] {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.article-card .title .external-link[data-v-e8c9ac44] {
    font-size: 0.8em;
}
.article-card .meta[data-v-e8c9ac44] {
    font-size: 0.9rem;
}
.article-card .description[data-v-e8c9ac44] {
    line-height: 1.5;
}
.article-card .cover[data-v-e8c9ac44],
.article-card .photos[data-v-e8c9ac44] {
    padding: 5px;
    border: 1px solid #dedede;
    background-color: white;
}
.article-card .cover .photo-wrapper[data-v-e8c9ac44],
.article-card .photos .photo-wrapper[data-v-e8c9ac44] {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
.article-card .cover .photo-wrapper > img[data-v-e8c9ac44],
.article-card .photos .photo-wrapper > img[data-v-e8c9ac44] {
    max-width: 100%;
}
.article-card .tags > *[data-v-e8c9ac44],
.article-card .categories > *[data-v-e8c9ac44] {
    margin-right: 0.5rem;
}
.article-card .meta a[data-v-e8c9ac44],
.article-card .categories-and-tags a[data-v-e8c9ac44] {
    border-bottom: 1px solid transparent;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}
.article-card .meta a[data-v-e8c9ac44]:hover,
.article-card .categories-and-tags a[data-v-e8c9ac44]:hover {
    border-bottom-color: #8d8d8d;
}
.article-card .title a[data-v-e8c9ac44] {
    border-bottom: 0.1rem solid transparent;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}
.article-card .title a[data-v-e8c9ac44]:hover {
    border-bottom-color: #8d8d8d;
}
.article-card .categories-and-tags[data-v-e8c9ac44] {
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.article-card .categories-and-tags > *[data-v-e8c9ac44] {
    margin-right: 1rem;
}
.article-card .categories-and-tags > *[data-v-e8c9ac44]:last-child {
    margin-right: 0;
}
.article-card .box[data-v-e8c9ac44] {
    -webkit-box-shadow: 0 0 0.1rem #9d9d9d;
    box-shadow: 0 0 0.1rem #9d9d9d;
    -webkit-transition: -webkit-box-shadow 250ms;
    transition: -webkit-box-shadow 250ms;
    transition: box-shadow 250ms;
    transition: box-shadow 250ms, -webkit-box-shadow 250ms;
    margin: 0 -3rem 1rem -3rem;
}
@media (max-width: 768px) {
    .article-card .box[data-v-e8c9ac44] {
        margin: 0 -1rem 1rem -1rem;
    }
}
.article-card .box[data-v-e8c9ac44]:hover {
    -webkit-box-shadow: 0 0 0.3rem #404040;
    box-shadow: 0 0 0.3rem #404040;
}
.article-card .more[data-v-e8c9ac44] {
    font-size: .8rem;
}

  
@charset "UTF-8";
.el-button {
    font-family: "Proxima Nova Rg", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}


  
#detailable-content {
    padding: 0 1rem;
}
@media (max-width: 768px) {
    #detailable-content {
        padding: 0;
    }
}

  
#detailable-content figure.highlight {
    font-size: .9rem;
    position: relative !important;
    margin: 1em 0 !important;
    border-radius: 2px !important;
    line-height: 1.1em !important;
    background-color: #f8f8f8 !important;
    overflow-x: scroll !important;
    -webkit-font-variant-ligatures: common-ligatures historical-ligatures !important;
    font-variant-ligatures: common-ligatures historical-ligatures !important;
}
#detailable-content figure.highlight table, #detailable-content figure.highlight tr, #detailable-content figure.highlight td {
    text-align: left !important;
    width: 100% !important;
    border-collapse: collapse !important;
    padding: 0 !important;
    margin: 0 !important;
}
#detailable-content figure.highlight .gutter {
    display: none !important;
}
#detailable-content figure.highlight .code pre {
    padding: 1.2em 1.4em !important;
    line-height: 1.5em !important;
    margin: 0 !important;
}
#detailable-content figure.highlight.html .code:after, #detailable-content figure.highlight.js .code:after, #detailable-content figure.highlight.bash .code:after, #detailable-content figure.highlight.css .code:after, #detailable-content figure.highlight.scss .code:after, #detailable-content figure.highlight.diff .code:after, #detailable-content figure.highlight.java .code:after, #detailable-content figure.highlight.xml .code:after, #detailable-content figure.highlight.python .code:after, #detailable-content figure.highlight.json .code:after, #detailable-content figure.highlight.swift .code:after, #detailable-content figure.highlight.ruby .code:after, #detailable-content figure.highlight.perl .code:after, #detailable-content figure.highlight.php .code:after, #detailable-content figure.highlight.c .code:after, #detailable-content figure.highlight.cpp .code:after {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    color: #ccc !important;
    text-align: right !important;
    font-size: 0.75em !important;
    padding: 5px 10px 0 !important;
    line-height: 15px !important;
    height: 15px !important;
    font-weight: 600 !important;
}
#detailable-content figure.highlight.html .code:after {
    content: "HTML";
}
#detailable-content figure.highlight.js .code:after {
    content: "JS";
}
#detailable-content figure.highlight.bash .code:after {
    content: "BASH";
}
#detailable-content figure.highlight.css .code:after {
    content: "CSS";
}
#detailable-content figure.highlight.scss .code:after {
    content: "SCSS";
}
#detailable-content figure.highlight.diff .code:after {
    content: "DIFF";
}
#detailable-content figure.highlight.java .code:after {
    content: "JAVA";
}
#detailable-content figure.highlight.xml .code:after {
    content: "XML";
}
#detailable-content figure.highlight.python .code:after {
    content: "PYTHON";
}
#detailable-content figure.highlight.json .code:after {
    content: "JSON";
}
#detailable-content figure.highlight.swift .code:after {
    content: "SWIFT";
}
#detailable-content figure.highlight.ruby .code:after {
    content: "RUBY";
}
#detailable-content figure.highlight.perl .code:after {
    content: "PERL";
}
#detailable-content figure.highlight.php .code:after {
    content: "PHP";
}
#detailable-content figure.highlight.c .code:after {
    content: "C";
}
#detailable-content figure.highlight.java .code:after {
    content: "JAVA";
}
#detailable-content figure.highlight.cpp .code:after {
    content: "CPP";
}
#detailable-content figure.highlight.cpp .code:after {
    content: 'C++';
}
#detailable-content figure.highlight figcaption {
    color: gray;
    font-style: italic;
    padding: .4em 1.4em;
    border-bottom: 1px solid #eeeeee;
}
#detailable-content figure.highlight figcaption > * {
    margin-right: 5px;
}
#detailable-content pre {
    color: #525252 !important;
}
#detailable-content pre .function .keyword, #detailable-content pre .constant {
    color: #0092db !important;
}
#detailable-content pre .keyword, #detailable-content pre .attribute {
    color: #e96900 !important;
}
#detailable-content pre .number, #detailable-content pre .literal {
    color: #ae81ff !important;
}
#detailable-content pre .tag, #detailable-content pre .tag .title, #detailable-content pre .change, #detailable-content pre .winutils, #detailable-content pre .flow, #detailable-content pre .lisp .title, #detailable-content pre .clojure .built_in, #detailable-content pre .nginx .title, #detailable-content pre .tex .special {
    color: #2973b7 !important;
}
#detailable-content pre .symbol, #detailable-content pre .symbol .string, #detailable-content pre .value, #detailable-content pre .regexp {
    color: #42b983 !important;
}
#detailable-content pre .title {
    color: #83B917 !important;
}
#detailable-content pre .tag .value, #detailable-content pre .string, #detailable-content pre .subst, #detailable-content pre .haskell .type, #detailable-content pre .preprocessor, #detailable-content pre .ruby .class .parent, #detailable-content pre .built_in, #detailable-content pre .sql .aggregate, #detailable-content pre .django .template_tag, #detailable-content pre .django .variable, #detailable-content pre .smalltalk .class, #detailable-content pre .javadoc, #detailable-content pre .django .filter .argument, #detailable-content pre .smalltalk .localvars, #detailable-content pre .smalltalk .array, #detailable-content pre .attr_selector, #detailable-content pre .pseudo, #detailable-content pre .addition, #detailable-content pre .stream, #detailable-content pre .envvar, #detailable-content pre .apache .tag, #detailable-content pre .apache .cbracket, #detailable-content pre .tex .command, #detailable-content pre .prompt {
    color: #42b983 !important;
}
#detailable-content pre .comment, #detailable-content pre .java .annotation, #detailable-content pre .python .decorator, #detailable-content pre .template_comment, #detailable-content pre .pi, #detailable-content pre .doctype, #detailable-content pre .shebang, #detailable-content pre .apache .sqbracket, #detailable-content pre .tex .formula {
    color: #b3b3b3 !important;
}
#detailable-content pre .deletion {
    color: #BA4545 !important;
}
#detailable-content pre .coffeescript .javascript, #detailable-content pre .javascript .xml, #detailable-content pre .tex .formula, #detailable-content pre .xml .javascript, #detailable-content pre .xml .vbscript, #detailable-content pre .xml .css, #detailable-content pre .xml .cdata {
    opacity: 0.5 !important;
}

  
@charset "UTF-8";
#detailable-content {
    text-align: left;
    word-break: normal;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#detailable-content p, #detailable-content li {
    line-height: 1.6;
}
#detailable-content h1,
#detailable-content h2,
#detailable-content h3,
#detailable-content h4,
#detailable-content h5,
#detailable-content h6,
#detailable-content p,
#detailable-content blockquote,
#detailable-content table,
#detailable-content pre,
#detailable-content ul,
#detailable-content ol {
    margin-top: 0;
    margin-bottom: 1rem;
}
#detailable-content h1:last-child,
#detailable-content h2:last-child,
#detailable-content h3:last-child,
#detailable-content h4:last-child,
#detailable-content h5:last-child,
#detailable-content h6:last-child,
#detailable-content p:last-child,
#detailable-content blockquote:last-child,
#detailable-content table:last-child,
#detailable-content pre:last-child,
#detailable-content ul:last-child,
#detailable-content ol:last-child {
    margin-bottom: 0;
}
#detailable-content h1 {
    font-size: 1.5rem;
}
#detailable-content h2 {
    font-size: 1.3rem;
}
#detailable-content h3 {
    font-size: 1.2rem;
}
#detailable-content h4, #detailable-content h5, #detailable-content h6 {
    font-size: 1.1rem;
}
#detailable-content ul {
    padding-left: 2rem;
    list-style: circle;
}
#detailable-content ul > * {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

#detailable-content ul > *:last-child {
    margin-bottom: 0;
}
#detailable-content ol {
    padding-left: 2rem;
    list-style: decimal;
}
#detailable-content ol > * {
    margin-top: 0;
    margin-bottom: 1rem;
}
#detailable-content ol > *:last-child {
    margin-bottom: 0;
}
#detailable-content dl {
    padding-left: 2rem;
    list-style: none;
}
#detailable-content dl > * {
    margin-top: 0;
    margin-bottom: 1rem;
}
#detailable-content dl > *:last-child {
    margin-bottom: 0;
}
#detailable-content blockquote {
    border-left: 0.3rem solid #5c5c5c;
    padding-left: .8rem;
    margin-left: 0;
    margin-right: 0;
}
#detailable-content .pullquote {
    width: 50%;
    margin: .5rem;
}
#detailable-content .left {
    float: left;
}
#detailable-content .right {
    float: right;
}
#detailable-content code, #detailable-content tt {
    margin: 0 .1rem;
    padding: .1rem .3rem;
    color: #5c5c5c;
    background-color: #f7f7f7;
    font-family: "Fira-Code", "Consolas", "Proxima Nova Rg", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    border-radius: .1rem;
    text-shadow: 1px 1px 3px white;
}
#detailable-content img {
    display: block;
    max-width: 100%;
    margin: .5em auto;
}
#detailable-content .video-container {
    text-align: center;
}
#detailable-content a {
    text-decoration: underline;
}
#detailable-content table {
    width: 100%;
    text-align: center;
}
.eof[data-v-e739917e] {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}
